{% extends "HomePage/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <h2>Nhóm 1</h2>
    <h3 style="margin: center">Giới thiệu về website</h3>
    <p style="margin-left: 55px">Cò đất là trang web được thành lập bởi các thành viên nhóm công nghệ thông tin trường đại học quốc gia Khoa học Tự nhiên. <br/> </p>
    <h3 style="margin: 20px">Thành viên</h3>
    <p style="margin-left: 55px">Nguyễn Lê Quốc Tài <br /> 
        Võ Văn Quốc Huy <br /> Nguyễn Minh Đức <br />Nguyễn Quý Triển</p>
{% endblock content %}