{% extends "HomePage/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <h2>Nhóm 1</h2>
    <h3 style="margin: center">Giới thiệu về website</h3>
    <p style="margin: 10px -15px 10px -30px">Cò đất là trang web được thành lập bởi các thành viên nhóm công nghệ thông tin trường đại học quốc gia Khoa học Tự nhiên. Với những lợi thế về công nghệ và giải pháp hữu ích, Cò Đất đang từng bước chứng minh bản thân trên thị trường
        Việt Nam và chuẩn bị sẵn sàng cho sự tăng trường đột phá vào những năm sắp tới. Cò Đất là trang web Dịch vụ Bất động sản, hoạt động trên nền tảng công nghệ hiện đại.
    </p>
    
    <h4 style="margin: center">Thành viên thành lập</h3>
    
    <p style="margin-left: 30px">Nguyễn Trung Kiên <br />Nguyễn Lê Quốc Tài <br /> 
        Võ Văn Quốc Huy <br /> Nguyễn Minh Đức <br />Nguyễn Quý Triển</p>
{% endblock content %}